*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}
.a{
    background-color: rgb(215, 151, 72);
    color: red;
    text-align: center;
    font-style: italic;
    font: bold;
}
.a1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(62, 142, 142);
    padding: 8px;
}
.a1>a{
    text-decoration: none;
    color: rgb(145, 0, 92);
}
footer{
    position:absolute;
    bottom: 0;
    text-align: center;
    left: 700px;
    background-color: black;
    color: white;
}